# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules


### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so


## UIWebView ##
*.xcworkspace
!default.xcworkspace
*.xcuserdata
xcuserdata
**/.DS_Store


## requirejs ##
/examples/requirejs/public/vendor/*
