@import url(//fonts.googleapis.com/css?family=Karla:400);

body {
  font-family: Karla;
  background: url(big_thing.png) 0 0 no-repeat, #F6F6F6;
  background-position: right -340px top -400px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.03);
  -webkit-font-smoothing: antialiased;
}

.logo {
  position: absolute;
  top: -89px;
  left: 0;
  font-weight: 800;
  font-size: 3em;
  color: #4685A8;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 860px;
  margin-top: 121px;
  height: 424px;
  background: #E6E6E6;
  border-radius: 5px;
  border: 1px solid #D4D4D4;
  padding: 50px 100px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 3em;
  color: rgb(100, 100, 100);
}

hr {
  border-width: 2px;
  border-color: rgb(191, 191, 191);
  border-style: solid;
}

#plaid-csa button {
  float: right;
  text-align: center;
  display: inline;
  width: 450px;
  cursor: pointer;
  padding: 20px 10px;
  border: 1px solid rgba(26, 53, 71, .11);
  border-radius: 50px;
  font-weight: 400;
  font-size: 24px;
  color: rgb(69, 69, 69);
  margin-top: 90px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background: linear-gradient(#FCE894, #FFE36D);
}

h1 {
  font-size: 61px;
  position: relative;
  display: inline;
  color: rgb(108, 108, 108);
}

.accounts span {
  float: right;
  position: relative;
  bottom: -32px;
  font-size: 2em;
  text-align: right;
  color: rgb(147, 147, 147);
}

.accounts .container {
  height: inherit;
}

.account-item {
  background: white;
  padding: 2em;
  margin-bottom: 21px;
  border-radius: 3px;
  border: 1px solid rgb(216, 216, 216);
}

.dual-button span.radio-button {
  float: left;
  text-align: center;
  width: 160px;
  position: relative;
  padding: 14px 56px;
  margin: 1px 0px 0px -0.7px;
  cursor: pointer;
  background: #f2f2f2;
  font: 23px/41px Karla, serif;
  font-weight: 800;
  color: #999;
  background: #F7F7F7;

}

.dual-button span.radio-button:hover {
  color: white !important;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
}

.dual-button span.radio-button:active {
  background: rgb(239, 239, 239);
}

.radio-left {
  border-radius: 100px 0 0 100px;
  color: rgba(255, 255, 255, 0.9) !important;
  background-image: linear-gradient(-180deg, #6DAED1 0%, #4281A4 100%) !important
}

.radio-right {
  border-radius: 0 100px 100px 0;
  color: rgba(255, 255, 255, 0.9) !important;
  background-image: linear-gradient(-180deg, #86CCCA 0%, #48A9A6 100%) !important;
}


/* Mobile Styles */

@media (max-width: 500px) {
  .container {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 51px;
  }
  .logo {
  top: -46px;
  font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  .dual-button span.radio-button {
  width: 20px;
  font-size: 13px;
  padding: 10px 71px 10px 45px;
  line-height: 1;
  text-align: center;
  }
}
